<a href="https://colab.research.google.com/github/Ltalhado/EDA_cleaning_data/blob/main/Data_Cleaning_and_EDA.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
%matplotlib inline
from __future__ import print_function
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

In [ ]:
data = pd.read_csv("/content/drive/MyDrive/raw_house_data.csv")

In [ ]:
# Identify the data types
data.dtypes

In [ ]:
# Checking the size of the data
data.shape

In [ ]:
# checking if data is labeled
data.head()

In [ ]:
data.columns

In [ ]:
# returns unique values with the dataset 
data.nunique(axis=0)

In [ ]:
data.describe().apply(lambda x: x.apply(lambda x: format(x,'f')))

In [ ]:
# returns unique values with Sold_prices columns
data['sold_price'].value_counts()

In [ ]:
data['lot_acres'].nunique()

In [ ]:
# Finding null values in the data
data.apply(lambda x: sum(x.isnull()), axis=0)

In [ ]:
# replacing all values of 'None' to nan
data.replace('None', np.nan, inplace=True)

In [ ]:
# filling all nan values with zeros
data.fillna(0,inplace=True)

In [ ]:
data.hist('sold_price', bins=10)

In [ ]:
# highest point of data for land purchase is 5000 acres
data.hist('lot_acres')

In [ ]:
# highest purchase rates are between to 0 to 5 bedrooms
data.hist('bedrooms',bins=10)

In [ ]:
# saved dataset
data.to_csv('/content/drive/MyDrive/newdata1.xlsx')

In [ ]:
print('*' * 30)
print("New dataset with changes done")
print('*' * 30)

In [ ]:
# loading saved dataset
newdata = pd.read_csv("/content/drive/MyDrive/newdata1.xlsx")

In [ ]:
newdata.shape

In [ ]:
newdata.head()

In [ ]:
newdata.dtypes

In [ ]:
# deleted extra columns added my saved previous dataset
del newdata['Unnamed: 0']

In [ ]:
# review dataset
newdata.dtypes

In [ ]:
# Saved the changes of deletion of the extra columns
newdata.to_csv('/content/drive/MyDrive/newdata1.xlsx')

In [ ]:
newdata.hist('sold_price', bins=10)

In [ ]:
# with data points
newdata.plot.scatter(x='sold_price',y='lot_acres', c='bedrooms')